.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeff7;
  font-family: 'Press Start 2P', cursive;
}
.quote-box {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}